.nav--bar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
  background-color: #3185fc;
}

.nav--button{
  padding: 8px 8px;
  border: 1px solid #3185fc;
  border-radius: 10px;
  background-color: #fff;
  color: #3185FC;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}